.menu-item {
  padding: 10px 16px;
  color: white;
  font-size: 14px;
  line-height: 24px;
  border-bottom: 1px solid gray;
  cursor: pointer;
}
.menu-item.is-selected {
  color: #409eff;
  border-left: 4px solid #409eff;
  padding-left: 12px;
}
